@charset "UTF-8";
body {
	background-color: #F1F4F5;
	text-align: center;
}

table {
	font-size: medium;
	text-align: center;
	border: 1px solid #e9e9e9;
	margin-top: 20px;
}

table thead {
	background-color: #949292;
}

table input {
	background-color: #F1F4F5;
}

tbody tr {
}

tbody tr:hover input {
	background-color: #e9e9e9;
}

tbody tr:hover {
	background-color: #e9e9e9;
}

table td {
	border: 1px solid #e9e9e9;
}

table input {
	border-radius: 6px;
	border: none;
}

input {
	border-radius: 6px;
	padding: 6px;
	border: thin solid #CED4DA;
}

select {
	border-radius: 6px;
	padding: 7px;
	border: thin solid #CED4DA;
}

footer {
	margin-left: 100px;
	margin-right: 100px;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.header {
	width:2000px;
	margin:0 auto;
	margin-top: 0;
	padding-top: 25px;
	padding-left: 2%;
	padding-right: 2%;
    background-color: #F1F4F5;
    padding-bottom: 15px;
    text-align: center;
}

.footerBody {
	width:2000px;
	margin:0 auto;
	margin-top: 0;
	padding-top: 25px;
	padding-left: 2%;
	padding-right: 2%;
    background-color: #F1F4F5;
    padding-bottom: 15px;
    text-align: center;
}

.body {
	width:2000px;
	margin:0 auto;
	margin-top: 0;
	padding-top: 25px;
	padding-left: 2%;
	padding-right: 2%;
    background-color: #F1F4F5;
    padding-bottom: 15px;
    text-align: center;
}

.card-body {
    padding: 0rem 1.25rem;
}

.tableBody tr td {
	padding: 0;
	font-size: 15px;
	border: 1px solid #e9e9e9;
}

.codeList {
	border: 1px solid #e9e9e9;
}

.searchBar {
	margin-left: 1px;
	margin-bottom: 10px;
}

.btnSave {
	border: none;
	background-color: #b7d8fd;
	font-weight: bold;
	font-size : 15px;
	padding : 5px 10px;
	border-radius: 6px;
}

.cloneHead th {
	border: 1px solid #e9e9e9;
}

.cloneBody td {
	border: 1px solid #e9e9e9;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
 }
 
.halfTable{
	width: 45%;
	display: inline-block;
	vertical-align: top;
}